My workflow (1).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -368,
        0
      ],
      "id": "436ed8ec-1e9b-4481-b5c1-2b2fa72942c2",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.apify.com/v2/datasets/BQzPGJonw1Gz9TW0h/items",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "apify_api_P1fdt8TC8XSvCEDfzHBIsWpHr85gZh1jdouB"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -160,
        0
      ],
      "id": "09a24e30-49d6-4118-8799-3066082a3bc6",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        48,
        0
      ],
      "id": "cbe8400c-af51-45b0-95a0-396eba2ae907",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n  \"model\": \"llama-3.1-8b-instant\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a personalized outreach assistant for an AI Automation Agency. Write a short, friendly, and professional DM (max 2 sentences).\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Write a DM for this user based on their caption: \" + ($json.caption || \"\")\n    }\n  ],\n  \"temperature\": 0.7\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        240,
        16
      ],
      "id": "84c6d8cc-59aa-4815-8c21-173b623c0a75",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "amount": 6
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        496,
        16
      ],
      "id": "e391aa93-6271-4363-a613-8bb5de9ce1ee",
      "name": "Wait1",
      "webhookId": "2a7ab3ea-cffa-472a-9d38-414f2a532e76"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ah50MnMj7dj2VnC8irlHQ88mShPUPk5Wj2BdvUXcDMc",
          "mode": "list",
          "cachedResultName": " AI Agency - Daily Report",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ah50MnMj7dj2VnC8irlHQ88mShPUPk5Wj2BdvUXcDMc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ah50MnMj7dj2VnC8irlHQ88mShPUPk5Wj2BdvUXcDMc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Username": "={{ $('Loop Over Items').item.json.latestComments[0].ownerUsername }}",
            "Instagram Caption": "={{ $('Loop Over Items').item.json.caption }}",
            "Status": "Sent",
            "AI Generated DM": "={{ $('HTTP Request1').item.json.choices[0] }}{{ $('HTTP Request1').item.json.choices[0].message }}{{ $('HTTP Request1').item.json.choices[0].message.content }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Username",
              "displayName": "Username",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Instagram Caption",
              "displayName": "Instagram Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI Generated DM",
              "displayName": "AI Generated DM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        704,
        16
      ],
      "id": "d410c6c4-2520-4eab-b279-2e0ef6d136d1",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "njk3kc7NDGOy0Fal",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6ce92b15-9e07-4a86-9d8a-98679bef13ba",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "81c34d365fb428156fa686e1f66e49ddc0a98e8484c5d6169b458b95ad3d599c"
  },
  "id": "cez2Iw2SC8Nzbyeh",
  "tags": []
}